<?xml version="1.0"?>
<!-- Functional tests. Needs WordPress + WooCommerce: run bin/install-wp-tests.sh first. -->
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
	convertNoticesToExceptions="true"
	convertDeprecationsToExceptions="true"
	>
	<testsuites>
		<testsuite name="integration">
			<directory prefix="test-" suffix=".php">./tests/integration/</directory>
		</testsuite>
	</testsuites>
</phpunit>
